# Ignore Python virtual environment
.venv/
venv/
.next/


# Ignore node_modules directory
node_modules/

# Ignore uploads directory
uploads/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment variables
credentials.json

# Ignore frontend build directory
my-app/build/
my-app/node_modules/

# Ignore backend specific files
backend/*.pyc
backend/__pycache__/
backend/cropped_books
backend/key.json
backend/notes.txt
backend/scripts/test_mongodb_connection.py

notes.txt
package.json
yolov5s.pt
