# Ignore Python virtual environment
.venv/
venv/
.next/
/requirements.txt
/notes.txt
/package-lock.json
/yolov5s.pt
# Ignore node_modules directory
node_modules/

# Ignore uploads directory
uploads/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment variables
credentials.json

# Ignore frontend build directory
my-app/build/
my-app/node_modules/

# Ignore backend specific files
*.pyc
__pycache__/
cropped_books
key.json
notes.txt
backend/scripts/test_mongodb_connection.py

notes.txt
package.json
yolov5s.pt
